.home-cont {
    max-width: 100vh;
    height: fit-content;
    background: var(--black);
    
}

    .home-cont div.empty-search {
        position: relative;
        left: 300px;
        width: 100%;
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .home-cont div.empty-search h2 {
            width: 100%;
            text-align: center;
        }

    .home-cont div .items-container {
        position: relative;
        left: 0;
        transition: all .2 linear;
    }

    .home-cont div .items-container.active {
        left: 300px;
    }