.payment-method-form-cont {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 180px 20px 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

    .payment-method-form-cont .btns-cont {
        width: 90%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .payment-method-form-cont .btns-cont button {
            width: 33%;
            height: fit-content;
            background: white;
            box-sizing: border-box;
            padding: 20px;
            font-size: 18px;
            border: 3px solid var(--green);
            transition: all .2s linear;
        }

        .payment-method-form-cont .btns-cont button.active {
            background: var(--dark-green);
            color: white;
        }

        .payment-method-form-cont .btns-cont button:hover {
            background: var(--dark-green);
            color: white;
        }

    .payment-method-form-cont .form-cont {
        width: 90%;
        max-height: 600px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
