.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

    .search-bar input {
        width: 350px;
        height: 50px;
        font-size: 16px;
        color: var(--black);
        padding: 0 20px;
        outline: none;
        border: none;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .search-bar input::placeholder {
        font-size: 16px;
        color: var(--text);
    }

    .search-bar .search-btn {
        width: 50px;
        height: 50px;
        background: var(--green);
        color: white;
        margin-left: -25px;
        border-radius: 100%;
        border: none;
        transition: all .2s linear;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    .search-bar .search-btn:hover {
        background: var(--dark-green);
        transform: rotate(360deg);
    }